@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #fe5f55;
  --main-white: #ffffff;
  --main-black: #212227;
  --main-grey: #607b7d;
  --spacing: 0.1rem;
  --transition: all 0.5s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

body {
  color: var(--main-black);
  background: var(--main-white);
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

/* Navbar */
.navbar {
  background: var(--main-white);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar-brand-title {
  color: var(--primary-color);
}

.nav-icon {
  font-size: 1.5rem;
}

.btn-cart {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: var(--primary-color);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--main-white);
}

/* Navbar */

/* Hero */
.hero {
  min-height: calc(100vh - 4rem);
  background: url(../bg.jpg) center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* block, inline, inline-block */

.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.35);
  display: inline-block;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.banner-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  margin-bottom: 3rem;
}

.btn-banner {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  background: var(--primary-color);
  color: var(--main-white);
  border: 1px solid var(--primary-color);
  border-radius: 0.8rem;
  transition: var(--transition);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-banner:hover {
  background: transparent;
  color: var(--primary-color);
}

/* Products */
.products {
  padding: 4rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  row-gap: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}
.product-btn-cart {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primary-color);
  border: none;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  transform: translateX(101%);
  cursor: pointer;
}

.product-btn-cart:hover {
  color: var(--main-white);
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .product-btn-cart {
  transform: translateX(0);
}

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--transition);
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-top: 1rem;
  letter-spacing: var(--spacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--spacing);
  color: var(--primary-color);
  text-align: center;
}

/* Cart */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition);
  background: rgba(254, 95, 85, 0.5);
  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: rgb(231, 226, 221);
  z-index: 3;
  padding: 1.5rem;
  transition: var(--transition);
  transform: translateX(101%);
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 28rem;
  }
}

.cart-close {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--spacing);
  margin-bottom: 2rem;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 4.5rem;
  height: 4.5rem;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--spacing);
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: gray;
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: var(--primary-color);
  cursor: pointer;
}
